/* header */


/* Banner */

#banier-img {
    display: none;
    background-image: url("../asset/img/london2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navbar */

#navbar-container {
    background-color: var(--bg-color);
    color: var(--red-color);
    height: fit-content;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    width: 100%;
}

#navbar-container>h1 {
    font-size: 2.8rem;
    font-weight: normal;
}

#navbar-container>h1>span {
    font-size: 2.2rem;
    display: inline-flex;
    align-items: center;
}


/* Search Date Tabs */

#searchdate-tab-selectors {
    width: fit-content;
}

#searchdate-tab-selectors #tab-list {
    display: flex;
    color: #fff;
    list-style-type: none;
    background-color: var(--default-color);
    align-items: center;
}

#searchdate-tab-selectors .tab-list-item:not(:last-of-type) {
    margin-right: 25px;
}

#searchdate-tab-selectors .tab-list-item span {
    display: inline-flex;
    align-items: center;
    font-size: 2.5rem;
}

#searchdate-tab-selectors .tab-list-item {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 12px;
    user-select: none;
    cursor: pointer;
}

#searchdate-tab-content {
    background-color: var(--bg-color);
    padding: 12px;
}

#searchdate-tab-selectors .selected {
    background-color: var(--red-color);
}

#searchdate-tab-content #content-flight h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

#searchdate-tab-content .form-row-input {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

#searchdate-tab-content .header-searchdate-input {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.header-searchdate-input input {
    font-size: 1.6rem;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-searchdate-input input:first-of-type {
    margin-right: 15px;
}

#searchdate-tab-content button[type="submit"] {
    width: 100%;
    background-color: var(--default-color);
    color: #fff;
    font-size: 1.6rem;
    padding: 15px 8px;
}


/* Body */

body {
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
    color: var(--default-color);
}

section {
    margin-top: 32px;
    margin-right: 32px;
    padding: 18px;
}

section .section-title {
    font-weight: normal;
    font-size: 1.8rem;
}

section .subtitle {
    font-size: 1.2rem;
}


/* Section */


/*  Good Offers Right Now */

#good-offers .media-display {
    display: grid;
    grid-template-areas: "a b c" "a d e";
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

#good-offers .media-display li:first-of-type {
    grid-area: a;
}

#good-offers .media-display li:nth-of-type(2) {
    grid-area: b;
}

#good-offers .media-display li:nth-of-type(3) {
    grid-area: c;
}

#good-offers .media-display li:nth-of-type(4) {
    grid-area: d;
}

#good-offers .media-display li:nth-of-type(5) {
    grid-area: e;
}

#good-offers li {
    position: relative;
}

#good-offers figcaption {
    position: absolute;
    background-color: var(--default-color);
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    visibility: hidden;
    color: #fff;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    display: grid;
    place-items: center;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

#good-offers li:hover figcaption {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}


/* Explore nature */

#explor-nature .media-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 15px;
}

#explor-nature .media-display img {
    width: 100%;
}


/* Get the best offers first */

#get-best-offert {
    background-color: var(--default-color);
    color: #fff;
}

#get-best-offert form {
    display: grid;
    flex-direction: column;
    margin-top: 16px;
}

#get-best-offert input {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    padding: 12px;
}

#get-best-offert button[type=submit] {
    background-color: var(--red-color);
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    padding: 18px 22px;
    font-size: 1.2rem;
}

#get-best-offert .section-title {
    margin-bottom: 16px;
}


/* Contact */

#contact .material-symbols-rounded {
    margin-right: 1rem;
}

#contact li {
    font-size: 1.4rem;
}

#contact .section-title,
#contact p {
    margin-bottom: 1rem;
}

#contact form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

#contact input,
#contact textarea {
    margin-bottom: 16px;
    font-size: 1.6rem;
    padding: 15px;
}

#contact button[type=submit] {
    background-color: var(--default-color);
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    padding: 18px 22px;
    font-size: 1.2rem;
}


/* Footer */

footer,
footer ul {
    width: 100%;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-gap: 1.2rem;
}

footer p {
    align-self: center;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 10px;
    justify-content: center;
}


/* media screen */

@media screen and (min-width: 550px) {
    #banier-img {
        display: grid;
        height: 550px;
        width: 100%;
        place-items: center;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    /* #good-offers .media-display figure:first-of-type {
        width: 486px;
    }
    #good-offers .media-display figure:not(:first-of-type) {
        height: 150px;
    }
    #good-offers .media-display li:not(:first-of-type) {
        height: 150px;
    } */
    main {
        max-width: 1200px;
        margin: 12px auto;
    }
    #get-best-offert button[type=submit],
    #contact button[type=submit] {
        width: 200px;
    }
}