body,
div,
input,
select,
main,
section,
textarea,
ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1, 6rem;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}